doctype html
html(lang='en')
	head
		title Jade
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
	body
		.container
			img(src='#{data[0].profile.picture}', height='200', width='200')
			h4 #{data[0].profile.name} 	
			h5 #{data[0].profile.gender}
			h5 #{data[0].email}
			h5 Address: #{data[0].profile.location}	
			h5 Followers: #{data[0].profile.followers}
			h5 Followings: #{data[0].profile.followings}
			each v in data[0].profile.videos
				iframe(src=v, width='350', height='200', frameborder='0', allowfullscreen='' class='video', style='margin-left:20px;margin-top:20px;')
